body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('calculator1.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 30px;
    background-color: rgba(9, 1, 1, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.display {
    font-size: 2em;
    padding: 10px;
    background-color: #f6f8f8;
    color: rgb(15, 1, 1);
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 1.5em;
    padding: 20px;
    border: none;
    border-radius: 20px; 
    background-color: #eee;
    cursor: pointer;
}

.button.zero {
    grid-column: span 2;
}

.button.equals {
    grid-column: span 2;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    background-color: #ccc;
}

#clear {
    background-color: #f44336;
    color: white;
}

#clear:hover {
    background-color: #e53935;
}

#clear:active {
    background-color: #d32f2f;
}

#equals {
    background-color: #4CAF50;
    color: white;
}

#equals:hover {
    background-color: #43A047;
}

#equals:active {
    background-color: #388E3C;
}

#backspace {
    background-color: #FF9800;
    color: white;
}

#backspace:hover {
    background-color: #FB8C00;
}

#backspace:active {
    background-color: #F57C00;
}
